/* variables */
:root {
  --frame-color: #eaac8b;
  --circle-bg-color: #ffd6ba;
  --hover-color: #6d597a;
  --red: #b56576;
  --blue: #355070;
}
/* resets */
body, div, main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* flexbox */
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
/* page */
body{
  background-color: var(--frame-color);
  font-family: 'Architects Daughter', cursive;
}
.frame {
  background-color: var(--frame-color);
  justify-content: center;
  height: 65vw;
  padding: 0;
  margin-top: 100px;
  text-align: justify;
  width: calc(65vw / 6 * 7);
}
  .frame .tab {
    background-color: var(--circle-bg-color);
    border-radius: 100%;
    cursor: pointer;
    height: 14%;
    margin: 1%;
    width: 12%;
  }
    .frame .tab.red {
      background-color: var(--red);
    }
    .frame .tab.blue {
      background-color: var(--blue);
    }
  .frame p {
  }
    .frame p.instructions {
      font-size: 1.2rem;
    }
  .frame img.logo {
    width: 70%;
  }
  .frame button.start {
    background-color: var(--circle-bg-color);
    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.151), 0 3px 10px 0 rgba(0,0,0,0.19);
    color: #000000;
    cursor: pointer;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    transition-duration: 0.6s;
    width: 63vw;
  }
.message {
  align-items: center;
  flex-direction: column;
}
  .message .wonMessage,
  .message .drawMessage {
    font-size: 1.3rem;
    text-align: center;
  }
  .message .playAgain{
    background-color: var(--circle-bg-color);
    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.151), 0 3px 10px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    transition-duration: 0.3s;
    width: 63vw;
  }

@media screen and (orientation: landscape){
.frame {
  margin-top: 5%;
  max-width: 800px;
  height: 65vh;
  width: calc(65vh / 6 * 7);
}
  .frame .tab:hover{
    background-color: var(--hover-color);
  }
  .frame .tab.red {
    animation-name:redDisk;
    animation-duration: 1.5s;
  }
  .frame .tab.blue {
    animation-name:blueDisk;
    animation-duration: 1.5s;
  }
  .frame button.start {
    font-size: 2rem;
    padding: 0;
    margin-top: -10%;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.151), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition-duration: 0.6s;
    max-width: 400px;
  }
    .frame button.start:hover {
      background-color:  var(--red);
      color: #ffd6ba;
      border: 0;
    }
  .frame p.instructions{
    font-size: 2rem;
    margin: 0;
  }
  .frame img.logo{
    object-fit: contain;
    width: 55%;
  }
.message {
}
  .message .playAgain {
    padding: 1%;
    position: absolute;
    cursor: pointer;
    transition-duration: 0.3s;
    font-size: 2rem;
    width: 65vh;
    top: 30%;
  }
    .message .playAgain:hover {
      background-color: var(--red);
    }
  .message .wonMessage,
  .message .drawMessage {
    font-size: 40px;
    left:42%
  }
@keyframes redDisk {
  from {background-color: var(--hover-color);}
  to {background-color: var(--red);}
}
@keyframes blueDisk {
  from {background-color: var(--hover-color);}
  to {background-color: var(--blue);}
}
}
